$nav-height: 50px;
$aside-width: 250px;

$line-color: #666;

@import "../bagic-bootstrap";

body {
  padding: {
    top: $nav-height;
    left: $aside-width;
  }
}

nav {
  @include fixed($b: auto) {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    height: $nav-height;
    border-bottom: 1px solid #2d2d2d;
    background-color: #333;
  }
}

.nav-btn {
  @include btn-action(#888, #aaa, #ddd);
}

aside {
  @include fixed-left($t: $nav-height) {
    padding: 1rem;
    width: $aside-width;
    background-color: #353535;
  }
}

@mixin n-select() {
  @for $i from 1 through 45 {
    [data-nums*=" #{$i} "] {
      [data-num="#{$i}"] {
        @content;
      }
    }
  }
}

@include n-select() {
  background-color: $line-color;
  color: white;
}

/*
 *  각 타입별 가시성
 */
@mixin swap($list) {
  @each $n in $list {
    $i: index($list, $n);
    .#{$n} {
      @each $ni in $list {
        @if ($ni != $n) {
          .#{$ni}-container {
            display: none;
          }
        }
      }
    }
  }
}
@include swap((table-type, row-type, simple-type));

.radio-btns {

  > input {
    display: none !important;
  }

  > label {
    color: #999;
  }

  input:checked {
    & + label {
      color: yellowgreen;
    }
  }
}

.selector {
  > table {
    width: 100%;
    > tbody {
      > tr {
        > td {

          cursor: pointer;
          color: #757575;

          &.active {
            color: #ababab;
          }

          &.select {
            color: #e8bc12;
          }
        }
      }
    }
  }
}

.nums-graph {

  padding: 1rem 2rem;

  > table {
    width: 100%;

    > tbody {
      > tr {
        > td {

          width: 100 / 45 * 1%;
          text-align: center;

          &[data-num] {
            padding-top: 1rem;
            height: 6rem;
            vertical-align: bottom;
            color: #999;

            > div {
              position: relative;
              margin: 0 auto;
              width: 70%;
              background-color: #ddd;

              > span {
                position: absolute;
                top: -1rem;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: 12px;
              }
            }

            &.active {
              color: #555;
              > div {
                background-color: #656565;
              }
            }
          }
        }
      }
    }
  }
}

$border: 1px solid $line-color;

.numbers {
  display: flex;

  > div {
    text-align: center;
  }
}

.row-type {

  .item {
    max-width: 100%;
    flex: 0 0 100%;

    > .item-container {
      border-top: $border;
    }
  }

  .item-container {
    display: flex;
  }

  .item-info {
    display: none;
  }

  .item-id {
    flex: 1 0 4em;
    text-align: center;
    background-color: $line-color;
  }

  .numbers {

    flex: 0 1 100%;

    > div {
      flex: 1 1 1%;
      & + div {
        border: {
          left: $border;
        }
      }
    }
  }

}




[data-for] {
  color: #999;

  &.active {
    color: #ddd;
  }
}