#image-screen {

  display: none;
  position: fixed;
  z-index: 1080;

  &, &:after {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &:after {
    position: absolute;
    display: block;
    background-color: black;
    opacity: .9;
    z-index: -1;
    content: '';
  }

  &.on {
    display: block;
  }

  > img {
    position: relative;
  }
}