
body {
  font-family: sans-serif;
}

.magic {
  float: left;
  width: 500px;
}

.focus-panel {
  display: none;
  position: absolute;
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  background-color: white;
  border: 1px solid #ddd;
}

.focus-in {
  > .focus-panel {
    display: block;
  }
}


.target {
  overflow: scroll;
  position: absolute;
  width: 15rem;
  height: 4rem;
  top: 1500px;
  left: 500px;
  background-color: #f9f9f9;
  border: 1px solid red;
}

main {
  display: block;
}

.box {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: red;
}