<div id="bill" _template="bill" class="screen v-screen" _access="type:[data-type]">

    <div _element="container">
        <!-- 공통-->
        <div _template="?pFooter">
            <div class="bill-footer">
                <div class="bill-footer-panel">
                    <span class="label">계좌안내</span>
                    <span class="value">[농협] <strong>352-1401-2143-63</strong> 예금주 / 고정철</span>
                </div>
                <div class="bill-footer-panel">
                    <span class="label">견적</span>
                    <span class="value">010-3403-8259</span>
                </div>
                <div class="bill-footer-panel">
                    <span class="label">디자인·편집</span>
                    <span class="value">010-6570-8259</span>
                </div>
            </div>
        </div>


        <!-- 견적서 -->
        <div class="bill estimate" data-type="estimate">

            <div class="bill-header n_2">
                <strong class="y_0">견적서</strong>
                <span>(공급받는자 보관용)</span>
            </div>
            <div class="recipient n_2">
                <span>제목 : </span>
                <strong _access="work.title"></strong>
            </div>

            <div class="bill-container div-2">
                <div _access='$template("company", "company", 1)'>
                    <table class="company-info table-border" _template="company">
                        <tbody>
                        <tr>
                            <th rowspan="4">공<br>급<br>자</th>
                            <th>등록번호</th>
                            <td _access="biz_num" colspan="3"></td>
                        </tr>
                        <tr>
                            <th>상호</th>
                            <td _access="name"></td>
                            <th>대표자</th>
                            <td class="sign">
                                <span _access="owner"></span>
                                <img src="/imgs/sign2.png">
                            </td>
                        </tr>
                        <tr>
                            <th>소재지</th>
                            <td _access="address" colspan="3"></td>
                        </tr>
                        <tr>
                            <th>업태</th>
                            <td _access="biz_con"></td>
                            <th>종목</th>
                            <td _access="biz_type"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div _access='$template("customer", "bCustomer", 1)'>
                    <table class="company-info table-border" _template="bCustomer">
                        <tbody>
                        <tr>
                            <th rowspan="4">공<br>급<br>받<br>는<br>자</th>
                            <th>등록번호</th>
                            <td _access="biz_num" colspan="3"></td>
                        </tr>
                        <tr>
                            <th>상호</th>
                            <td _access="name"></td>
                            <th>대표자</th>
                            <td class="sign">
                                <span _access="owner"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>소재지</th>
                            <td _access="address" colspan="3"></td>
                        </tr>
                        <tr>
                            <th>업태</th>
                            <td _access="biz_con"></td>
                            <th>종목</th>
                            <td _access="biz_type"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div>
                <div class="bill-title">▲품목 세부</div>
                <div class="bill-container" _access='$template("_items", 1)'>
                    <table class="item-list table-border" _template="_items">
                        <thead>
                        <tr>
                            <th>품명</th>
                            <th>규격</th>
                            <th>수량</th>
                            <th>단가</th>
                            <th>공급가액</th>
                            <th>부가세</th>
                            <th>적요</th>
                        </tr>
                        </thead>
                        <tbody _access='$template("items", "bItem")'>
                        <tr _template="?bItem">
                            <td _access="subject"></td>
                            <td _access="detail"></td>
                            <td _access="count" class="text-center white-nowrap"></td>
                            <td _access="price?number(true)" class="text-right white-nowrap"></td>
                            <td _access="total?number(true)" class="text-right white-nowrap"></td>
                            <td _access="vat?number(true)" class="text-right white-nowrap"></td>
                            <td _access="memo"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>총금액</th>
                            <th colspan="3"><strong style="font-size: 1rem;" _access="work.total?number(true)"></strong> (VAT 포함)</th>
                            <th class="text-right" _access="work.price?number(true)"></th>
                            <th class="text-right" _access="work.vat?number(true)"></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>


            <div class="bill-text" _access='$toggle("d-none", "", "work.text")'>
                <div class="bill-title">▲참고사항</div>
                <div class="bill-container bill-work-text">
                    <pre _access="work.text"></pre>
                </div>
            </div>

            <div _access='$copy("pFooter", 1)'></div>

        </div>


        <!-- 거래명세표 -->
        <div class="bill account" data-type="account">

            <div class="bill-header">
                <strong>거래명세표</strong>
                <span>(공급받는자 보관용)</span>
            </div>

            <div class="bill-container div-2">
                <div _access='$template("company", "company", 1)'></div>
                <div _access='$template("customer", "bCustomer", 2)'></div>
            </div>

            <div class="bill-container" _access='$template("_items", 1)'></div>

            <div class="bill-container">
                <table class="table-border total-table">
                    <tbody>
                    <tr>
                        <th>금액</th>
                        <td class="white-nowrap" _access="work.price?number(true)"></td>
                        <th>세액</th>
                        <td class="white-nowrap" _access="work.vat?number(true)"></td>
                        <th>합계</th>
                        <td class="white-nowrap" _access="work.total?number(true)"></td>
                        <th>인수자</th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div _access='$copy("pFooter", 1)'></div>
        </div>


        <!-- 간이영수증 -->
        <div class="bill receipt" data-type="receipt">

            <div class="bill-header">
                <strong>간이영수증</strong>
                <span>(공급받는자용)</span>
            </div>
            <div class="recipient">
                <strong _access="customer.name"></strong>
                <span>귀하</span>
            </div>

            <div class="bill-container">
                <div _access='$template("company", "company", 1)'></div>
            </div>

            <div class="bill-container">
                <table class="table-border">
                    <thead>
                    <tr>
                        <th>품명</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>부가세</th>
                        <th>금액</th>
                    </tr>
                    </thead>
                    <tbody _access='$template("items", "pItem")'>
                    <tr _template="?pItem">
                        <td _access="subject"></td>
                        <td _access="count" class="text-center white-nowrap"></td>
                        <td _access="price?number(true)" class="text-right white-nowrap"></td>
                        <td _access="vat?number(true)" class="text-right white-nowrap"></td>
                        <td _access="total?number(true)" class="text-right white-nowrap"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="bill-container">
                <table class="table-border total-table">
                    <tbody>
                    <tr>
                        <th class="label">금액</th>
                        <td class="white-nowrap" _access="work.price?number(true)"></td>
                        <th class="label">세액</th>
                        <td class="white-nowrap" _access="work.vat?number(true)"></td>
                        <th class="label">합계</th>
                        <td class="white-nowrap" _access="work.total?number(true)"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div _access='$copy("pFooter", 1)'></div>
        </div>
    </div>

</div>