@import "base";

$header-height: 120px;
$customer-width: 300px;

$main-color: #3c768c;
$lighten-bg: #d8e3ec;

html {
  font-size: 15px;
}

body {
  overflow-y: scroll;
  padding: {
    top: $navbar-height + $header-height;
    left: $customer-width;
    bottom: $navbar-height;
  }
  //background-color: $gray-100;
}

pre {
  padding: .75rem;
  white-space: pre-wrap;
  font-size: 1rem;

  &:empty {
    display: none;
  }
}


#work-header, nav, #customer {
  position: fixed;
  left: 0;
  right: 0;
}

#block {

  &, > .viewer {
    display: none;
    align-items: center;
    justify-content: center;
  }

  &, &:before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &.on {
    display: flex;
    z-index: 9999;
    background-color: transparent;
  }

  &.viewer {

    > .viewer {
      display: flex;
      > img {
        width: 80%;
        object-fit: contain;
        object-position: center center;
      }
      & ~ div {
        display: none;
      }
    }

    &:before {
      content: '';
      background-color: black;
      opacity: .87;
    }
  }

  @extend .no-drag;
}

.dropdown-show {
  @extend .dropdown-open;
}

/* *************** ▼ 옵션 클래스 ▼ *************** */

.v-flex {
  display: flex;
}

.remove-work {

  &:after {
    content: attr(data-msg);
  }
  &.warning:after {
    content: '한번 더 클릭하면 작업이 완전히 삭제됩니다! [복구불가]';
  }
}


.view-btn {
  padding: 0.1rem 0.3rem;
  font-size: .8rem;
  border: 1px solid $gray-300;
  background-color: transparent;
  color: $gray-500;

  outline: none !important;
  white-space: nowrap;

  transition: .15s ease background-color, .15s ease color, .15s ease border;

  &:hover {
    border-color: $gray-600;
  }

  &.group {
    & + .view-btn {
      margin-left: -1px;
    }
  }

  .view-dark & {
    border-color: $gray-500;
    color: $gray-500;
  }

  &.border-0 {
    border: 0;
    background-color: $gray-200;

    &.active {
      background-color: #729cc3;
      color: white;

      .dropdown-open & {
        background-color: #386997;
      }

      &:hover {
        background-color: #507390;
      }
    }
  }
}

.view-del {
  &:after {
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: #a70707;
    padding: 0.5rem 1rem;
    content: '삭제버튼을 한번 더 클릭하면 완전히 삭제됩니다';
    color: #ffffff;
    pointer-events: none;
    opacity: 0;
    transform: translate(0, 5px);
  }

  &.toggle-dblclick-active {
    position: relative;
    background: #a94409;
    color: white;

    &:after {
      opacity: 1;
      transform: translate(0, -3px);
      transition: .3s ease transform, .2s ease opacity;
    }
  }
}

[data-view="0"] {
  [data-view-value="0"] {
    display: none;
  }
}

[data-view="1"] {
  [data-view-value="1"] {
    display: none;
  }
}


/* *************** ▲ 옵션 클래스 ▲ *************** */


#work-header {
  border-top: 1px solid #585e64;
}


#work-header {
  top: $navbar-height;
  left: $customer-width;
  height: $header-height;
  background-color: $gray-700;
  color: $gray-300;

  .header {
    flex: 0 0 $customer-width - 2; // border값 -1
  }

  .bill-btn {
    border-radius: 0;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.input-subject {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #798087;
  outline: 0;
  font-size: 1.5rem;
  color: #dee2e6;
}

.view-title {
  display: block;
  margin-bottom: .5rem;

  text-align: center;
  font-size: .85rem;
  color: #d9d06a;
  text-decoration: underline;
}


// aside
#customer {
  top: $navbar-height;
  bottom: 0;
  width: $customer-width;

  background-color: $gray-600;

  .header {
    padding: 1rem 1rem;
    height: $header-height;
    text-align: center;
    border-right: 1px solid #383f46;
    background-color: $gray-700;

  }
}

.customer-name {
  color: $gray-200;
}

.customer-btn {
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.customer-info {
  padding: 0 1.5rem;
  color: $gray-100;

  strong {
    font-size: .8rem;
  }

  table {
    width: 100%;

    > tbody {
      > tr {

        border-bottom: 1px solid #5f676e;

        > th {
          width: 1%;
          text-align: center;
          white-space: nowrap;
          font-size: .9rem;
        }

        > th, > td {
          padding: .8rem 0;
          vertical-align: top;
          font-weight: 200;
        }

        > td {
          padding-left: 1rem;
        }

        & + tr {
          > th, > td {
            //border-top: 1px solid darken($gray-300, 5%);
          }
        }
      }
    }
  }
}

.customer-form {

  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateX(-$customer-width);

  padding: 4rem 1rem 1rem;
  width: $customer-width;
  background-color: $gray-700;
  transition: .2s ease transform;


  > table {
    width: 100%;

    > tbody > tr {
      > th, > td {
        font-weight: 200;
        padding: .5rem 0;
        color: $gray-400;
      }
    }

    input {
      border-color: $gray-800;
      color: $gray-200 !important;
    }
  }

  &.on {
    transform: translateX(-1px);
  }
}

#print-container {
  padding: 1rem;
  min-width: 400px;
}

.print-header {
  padding-bottom: .7rem;
  border-bottom: 1px solid $gray-400;
}

.print-body {
  padding: 1rem;
}

.print-file {
  & + & {
    margin-top: 1rem;
    padding-top: 1.5rem;
    border-top: 1px solid $gray-300;
  }
}

.money-info {
  flex: 1 0 auto;
  margin: 2.5rem 1rem 0;

  width: 11rem;
  color: $gray-500;
  text-align: right;

  border-bottom: 6px solid darken($gray-500, 15%);

  &:last-child {
    margin-right: 0;

    > strong {
      color: $gray-300;
    }
  }
}

.dash-box {
  $radius: .75rem;
  margin-top: $grid-gutter-width;
  padding: {
    left: $grid-gutter-width;
    right: $grid-gutter-width;
  }
  background-color: white;

  &-header {
    display: flex;

    $header-border-color: $gray-500;
    border-bottom: 1px solid $header-border-color;
    align-items: center;
    //border-top-left-radius: $radius;
    //border-top-right-radius: $radius;
    //background-color: $gray-300;
    transition: .2s ease background-color;

    > strong {
      display: flex;
      background-color: white;
      padding: .3rem 1rem;
      border-bottom: 3px solid #73ace5;
      justify-content: center;
    }

    &:hover {
      //background-color: $gray-400;
    }

    &.close {
      & + div {
        display: none;
      }

      > strong {
        color: $gray-500;
        border-bottom-color: $gray-500;
      }
    }
  }
}

.d-input {
  width: 100%;
  height: 2rem;

  border: {
    left: 0;
    right: 0;
    top: 0;
    bottom: 1px solid $gray-500;
  }
  color: $gray-600;
  background-color: transparent;
  transition: .2s ease color, .2s ease border-bottom-color;

  &:focus {
    outline: 0;
    color: $gray-700;
  }
}


.items {
}

.item-table {

  //table-layout: fixed;

  > thead {
    > tr {
      background-color: transparent;

      > th {
        color: $gray-600;
        border-bottom: 0;
        background-color: $gray-200;
      }
    }
  }

  > tbody {

    > tr {

      transition: .3s ease background-color;

      &:hover {
        background-color: $gray-100;
      }

      &.delete {
        background-color: #ffe9e6;

        td[_access] {
          text-decoration: line-through;
          color: #db6969;
        }

      }

      &.delete-ani {
        animation-name: slide-out;
        animation-duration: .5s;
      }

      &.drag-on {
        position: relative;
        z-index: 1041;
        outline: 4px solid #80a5c5;
        background-color: #f1f8ff;
        //box-shadow: 1px 1px 4px rgba(0,0,0,.6);
      }

      &.drag-target {
        background-color: #f1f4f7;
      }

      > td {
        padding: {
          left: .6rem;
          right: .6rem;
        }
        height: 3.4rem;

        .material-icons {
          font-size: 1.2rem;
          line-height: inherit;
        }
      }

      &.d-form {
        background-color: #ebf3fb;

        > td {
          > input {
            color: #327bc3;
          }
        }
      }
    }
  }

  .evt-btn {
    font-size: .85rem;
  }
}


.print-container {
  padding: 1rem;
  min-width: 400px;
}

@keyframes dform {
  100% {
    transform: rotate(360deg);
  }
}

.d-form-ani {
  animation: dform 2s linear infinite;
}

.screen {

  $nav-height: 50px;
  $aside-width: 300px;

  display: none;

  &, &:before, .screen-nav, .screen-aside, .screen-main {
    position: fixed;
  }

  &, &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: '';
  }

  &:before {
    opacity: 0;
    background-color: black;
  }

  &.on:before {
    opacity: .9;
  }

  &.on {
    display: block;
    z-index: 1050;
  }

  &.on:before {

  }

  .screen-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    background-color: #111;

    color: white;
  }

  .screen-aside {
    overflow-y: scroll;
    top: $nav-height;
    left: 0;
    bottom: 0;
    padding: 2rem 0;
    width: $aside-width;
    background-color: #222;
    text-align: center;

    img {
      outline: 1px solid #6c6464;
    }
  }

  .screen-main {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;

    top: $nav-height;
    left: $aside-width;
    right: 0;
    bottom: 0;

    > img {
      width: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }
}

.img-list {
  position: relative;
  display: inline-block;
  width: 85%;

  & + & {
    margin-top: 2rem;
  }

  > img {
    width: 100%;
  }

  > span {
    position: absolute;
    top: 0;
    right: 0;
    padding: .2rem .5rem;

    background-color: #af5a5a;
    color: white;
    font-size: .7rem;

    &.del-confirm {
      background-color: darkred;
    }
  }

}


.confirm-box {
  padding: 1rem;
}

#uploader {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 2rem;
  z-index: 2000;

  width: 500px;
  height: 300px;
  background-color: white;
  border: {
    top: 1px solid $gray-600;
    left: 1px solid $gray-600;
  }
  transform: translateY(300px);
  transition: .7s ease transform;

  &.on {
    transform: translateY(0);
  }

  .progress-bar {
    transition: width .1s ease !important;
  }
}

.file-icon {
  width: 4rem;
  height: 4rem;
}


.work-text {
  margin-top: 1rem;
  overflow-y: scroll;
  padding: .75rem;
  width: 100%;
  height: 12rem;
  background-color: $gray-200;
  border: 0;
  color: $gray-700;

  outline: none !important;

  &[disabled] {
    background-color: $gray-400;
    color: $gray-600;
  }
}

.work-memo {
  & + & {
    border-top: 1px solid $gray-300;
    margin-top: 1rem;
  }
}


.work-file {


  &-icon {
    display: flex;
    justify-content: center;

    > img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
      cursor: pointer;
    }
  }

  .work-refs & {
    position: relative;
    padding: 0 .5rem;
    margin-top: 1.5rem;
    width: 50%;
    float: left;

    font-size: .9rem;
    text-align: center;

    strong, span {
      overflow: hidden;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .print-body & + .print-body & {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $gray-200;
  }

  .print-body & {

    display: flex;

    .work-file-info {

      flex: 1 1 auto;
      padding-left: 1rem;
      margin-left: auto;
      text-align: right;

      .file-name {
        display: block;
      }

      .file-size:before {
        content: ' / '
      }
    }
  }
}

.print-body {
  .work-file + .work-file {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $gray-200;
  }
}

small.btn {
  font-size: .9rem;
  line-height: 1;
  padding: .3rem;
}


@keyframes slide-out {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    transform: translate(30px, 0);
    opacity: 0;
  }
}

@keyframes sunset {
  from {
    transform: translate(0, -10px);
    opacity: .5;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}