<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Print Test</title>

    <link rel="stylesheet" href="../../static/dist/work/print-test.css">
</head>
<body>

<div class="bill estimate">

    <div class="header"></div>

    <div class="info">

        <div class="sum">
            <table class="sum-info">
                <tbody>
                <tr>
                    <td colspan="2" class="customer-name">제이케이앤티텔레콤(주)</td>
                </tr>
                <tr>
                    <td ></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="customer">
            <table class="customer-info">
                <tbody>
                <tr>
                    <td class="label" rowspan="4">공<br />급<br />자</td>
                    <td class="label">등록번호</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="label">상호</td>
                    <td></td>
                    <td class="label">대표자</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="label">소재지</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="label">업태</td>
                    <td></td>
                    <td class="label">종목</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="items">

    </div>

</div>


</body>
</html>