<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>미수금</title>
    <link rel="stylesheet" href="/dist/work/receivable.css">

    <script src="/lib/js/es6-promise.js"></script>

    <script data-template="item" type="text/html">
        <div class="col-3">
            <div class="receivable">
                <table>
                    <tbody>
                    <tr class="receivable-ctrl">
                        <th>No. 1</th>
                        <td>수정 삭제</td>
                    </tr>
                    <tr>
                        <td colspan="2"
                            class="receivable-sum text-right" data-directive="sum | number"></td>
                    </tr>
                    <tr>
                        <th>업체</th>
                        <td data-directive="customer">군포의제</td>
                    </tr>
                    <tr class="receivable-memo">
                        <th>메모</th>
                        <td><pre data-directive="memo"></pre></td>
                    </tr>
                    <tr>
                        <td colspan="2" data-directive="date | datetime : 'yyyy-MM-dd(E) HH:mm'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <script data-form="item" type="text/html">
        <div class="col-3">
            <div class="receivable">
                <table>
                    <tbody>
                    <tr class="receivable-ctrl">
                        <th></th>
                        <td>확인 취소</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="receivable-sum text-right">
                            <input data-type="number" required data-pre-processor="number" name="sum">
                        </td>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <td><input data-pre-processor="date" name="date"></td>
                    </tr>
                    <tr>
                        <th>업체</th>
                        <td><input required name="customer"></td>
                    </tr>
                    <tr>
                        <th>담당</th>
                        <td><input name="name"></td>
                    </tr>
                    <tr>
                        <th>연락</th>
                        <td><input name="tel"></td>
                    </tr>
                    <tr class="receivable-memo">
                        <th>메모</th>
                        <td><textarea name="memo"></textarea></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>

</head>
<body>

<nav>

</nav>

<#include "./modules/aside.html">

<main>

    <div class="container-fluid">
        <div class="row" data-template="item"></div>
    </div>

</main>


<script src="/dist/work/receivable.js"></script>
</body>
</html>