<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Work</title>
    <link rel="stylesheet" href="/dist/work/view.css">

    <script src="/lib/js/es6-promise.js"></script>

    <!------------------  ▼ [data-template] ▼  -------------------->
    <script type="text/html" data-template="print">
        <div class="work-items-print-list" data-value="index:{{index}}">
            <div class="work-items-print-list-anchor">
                <a href="{{path}}" class="work-items-print-list-icon file-icon file-icon-{{_.data.filetype}}"></a>
                <span class="work-items-print-list-name">{{_.data.getOrigName()}}</span>
                <span class="work-items-print-list-datetime">{{_.data.datetime | datetime}}</span>
                <span class="work-items-print-list-size">{{_.data.size | filesize}}</span>
                <span class="work-items-print-list-remove" data-event="removePrint">×</span>
            </div>
        </div>
    </script>

    <!------------------  ▲ [data-template] ▲  -------------------->


    <!------------------  ▼ [data-template] ▼  -------------------->
    <script type="text/html" data-template="items">
        <tr data-element="target" data-form-enter="true">
            <td data-directive="subject"></td>
            <td data-directive="detail"></td>
            <td data-directive="count" class="text-right"></td>
            <td data-directive="price | number" class="text-right"></td>
            <td data-directive="total | number" class="text-right"></td>
            <td data-directive="vat | number" class="text-right"></td>
            <td>
                <div>
                    <span class="work-items-btn" data-event="screen" data-directive=" | draft">시안</span>
                    <div class="dropdown work-items-print" data-element="print"
                         style="display: inline-block;" data-directive=" | print">
                        <span class="work-items-btn">인쇄파일</span>
                        <div class="dropdown-menu dropdown-menu-right"></div>
                    </div>
                </div>
                <span data-directive="memo"></span>
            </td>
            <td class="sort ctrl">
                <span class="view-btn" data-event="modify">수정</span>
                <span class="view-btn view-btn-danger" data-event="remove">삭제</span>
                <div class="work-items-table-sort-btn" draggable="true">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </td>
        </tr>
    </script>


    <script type="text/html" data-template="memo">
        <div class="work-memo-list-item" data-element="target">
            <pre data-directive="value"></pre>
            <span class="work-memo-list-item-datetime" data-directive="datetime | datetime"></span>
            <div class="view-btns">
                <span class="view-btn" data-event="modify">수정</span>
                <span class="view-btn view-btn-danger" data-event="remove">삭제</span>
            </div>
        </div>
    </script>

    <script type="text/html" data-template="refs">
        <div class="work-refs-list" data-element="target">
            <span class="work-refs-remove" data-event="remove">×</span>
            <a class="work-refs-thumb file-icon" data-directive=" | refThumb"></a>
            <div class="work-refs-name" data-directive="original_name"></div>
            <div class="work-refs-datetime" data-directive="datetime | datetime"></div>
            <div class="work-refs-size" data-directive="size | fileSize"></div>
        </div>
    </script>
    <!------------------  ▲ [data-template] ▲  -------------------->

    <!------------------  ▼ [data-form] ▼  -------------------->
    <script type="text/html" data-form="title">
        <div class="work-title-form">
            <input class="work-title-input view-input" name="title">
            <div class="view-btns">
                <span class=" view-btn" data-event="confirm">확인</span>
                <span class=" view-btn view-btn-gray" data-cancel>취소</span>
            </div>
        </div>

    </script>

    <script type="text/html" data-form="customer">

        <div class="work-customer">
            <div class="view-btns">
                <span class="view-btn form-btn" data-event="confirm">확인</span>
                <span class="view-btn view-btn-gray" data-cancel>취소</span>
            </div>
            <table class="view-table work-customer-table">
                <tbody>
                <tr>
                    <th>상호</th>
                    <td colspan="3">
                        <input name="name" required>
                    </td>
                </tr>
                <tr>
                    <th style="width: 10%">사업자번호</th>
                    <td style="width: 25%">
                        <input name="biz_num">
                    </td>
                    <th style="width: 10%">대표자</th>
                    <td style="width: 25%">
                        <input name="owner">
                    </td>
                </tr>
                <tr>
                    <th>업태</th>
                    <td>
                        <input name="biz_con">
                    </td>
                    <th>종목</th>
                    <td>
                        <input name="biz_type">
                    </td>
                </tr>
                <tr>
                    <th>휴대전화</th>
                    <td>
                        <input name="mobile">
                    </td>
                    <th>이메일</th>
                    <td>
                        <input name="email">
                    </td>
                </tr>
                <tr>
                    <th>유선전화</th>
                    <td>
                        <input name="tel">
                    </td>
                    <th>팩스</th>
                    <td>
                        <input name="fax">
                    </td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td colspan="3">
                        <input name="address">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </script>

    <script type="text/html" data-form="items">
        <tr data-pre-processor="compute">
            <td><input name="subject" required></td>
            <td><input name="detail"></td>
            <td class="text-right"><input name="count" data-compute="0" data-type="number" data-pre-processor="number"></td>
            <td class="text-right"><input name="price" data-compute="1" data-type="number" data-pre-processor="number"></td>
            <td class="text-right"><input name="total" data-compute="3"  data-type="number" data-pre-processor="number" disabled></td>
            <td class="text-right"><input name="vat" data-compute="2" data-type="number" data-pre-processor="number"></td>
            <td><input name="memo"></td>
            <td class="ctrl">
                <span class="view-btn form-btn" data-event="confirm">확인</span>
                <span class="view-btn view-btn-gray" data-cancel>취소</span>
            </td>
        </tr>
    </script>

    <script type="text/html" data-form="text">
        <div>
            <div class="view-header">
                <span class="view-header-subject">견적메모</span>
                <div class="view-btns">
                    <span class="view-btn" data-event="confirm">확인</span>
                    <span class="view-btn view-btn-gray" data-cancel>취소</span>
                </div>
            </div>

            <div class="view-container">
                <div class="view-content">
                    <textarea data-form="text" class="work-textarea-wide" name="text"></textarea>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" data-form="memo">
        <div>
            <textarea class="work-textarea-wide" name="value" required></textarea>
            <div class="view-btns">
                <span class="view-btn form-btn" data-event="confirm">확인</span>
                <span class="view-btn view-btn-gray" data-cancel>취소</span>
            </div>
        </div>
    </script>
    <!------------------  ▲ [data-form] ▲  -------------------->

</head>
<body>

<nav>

    <span class="page-name">작업상세</span>

    <div class="nav-btns" data-mapper="info" data-follow="items,memo,refs">
        <span class="active nav-resource">작업수<b data-directive="item_len | len"></b></span>
        <span class="nav-resource">작업메모<b data-directive="memo_len | len"></b></span>
        <span class="nav-resource">참고파일<b data-directive="file_len | len"></b></span>
    </div>


    <div class="nav-right nav-btns">
        <span data-bill="estimate" class="nav-btn">견적서</span>
        <span data-bill="account" class="nav-btn">거래명세표</span>
        <span data-bill="receipt" class="nav-btn">간이영수증</span>
    </div>

</nav>

<#include "./modules/aside.html">

<main>

    <div id="view">

        <div class="view-meta">
            <div class="dropdown view-meta-state" data-pre-processor="state">
                <span data-toggle="dropdown" class="view-meta-state-btn"></span>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="view-meta-state-menu"></ul>
                </div>
            </div>
            <div class="view-meta-remove" data-pre-processor="remove">×작업삭제</div>
        </div>

        <div class="view-row" data-mapper="title">

            <div class="view-container">
                <div class="view-content text-center work-title">
                    <div>
                        <span class="work-datetime" data-directive="datetime | datetime"></span>
                    </div>
                    <div data-element="target">
                        <strong class="work-title-val" data-directive="title"></strong>
                        <div class="view-btns">
                            <span class=" view-btn" data-event="modify">수정</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="view-row">

            <div class="view-header">
                <span class="view-header-subject">고객정보</span>
            </div>

            <div class="view-container">
                <div class="view-content" data-mapper="customer">
                    <div class="work-customer" data-mapping="customer" data-element="target">
                        <div class="view-btns">
                            <span class=" view-btn" data-event="modify">수정</span>
                        </div>
                        <table class="view-table work-customer-table">
                            <tbody>
                            <tr>
                                <th>상호</th>
                                <td colspan="3">
                                    <span data-directive="name"></span>
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 10%">사업자번호</th>
                                <td style="width: 25%">
                                    <span data-directive="biz_num"></span>
                                </td>
                                <th style="width: 10%">대표자</th>
                                <td style="width: 25%">
                                    <span data-directive="owner"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>업태</th>
                                <td>
                                    <span data-directive="biz_con"></span>
                                </td>
                                <th>종목</th>
                                <td>
                                    <span data-directive="biz_type"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>휴대전화</th>
                                <td>
                                    <span data-directive="mobile"></span>
                                </td>
                                <th>이메일</th>
                                <td>
                                    <span data-directive="email"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>유선전화</th>
                                <td>
                                    <span data-directive="tel"></span>
                                </td>
                                <th>팩스</th>
                                <td>
                                    <span data-directive="fax"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>주소</th>
                                <td colspan="3">
                                    <span data-directive="address"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="view-content work-sum" data-follow="items">
                    <div class="work-sum-info"></div>
                    <div class="work-sum-value">
                        <table>
                            <tbody>
                            <tr>
                                <td class="table-label">단가</td>
                                <td class="work-sum-value-price" data-directive="price | number"></td>
                            </tr>
                            <tr>
                                <td class="table-label">부가세</td>
                                <td class="work-sum-value-vat" data-directive="vat | number"></td>
                            </tr>
                            <tr>
                                <td class="table-label">합계</td>
                                <td class="work-sum-value-total" data-directive="total | number"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="view-row" data-mapping="items"
             data-mapper="items" data-pre-processor="itemSort">

            <div class="view-header">
                <span class="view-header-subject">작업리스트</span>
                <span class="view-btns">
                    <span class="view-btn" data-event="addItem">추가</span>
                </span>
            </div>

            <div class="view-container">
                <div class="view-content work-items">
                    <table class="view-table work-items-table">
                        <thead>
                        <tr>
                            <th>품목</th>
                            <th>규격</th>
                            <th class="text-right">수량</th>
                            <th class="text-right">단가</th>
                            <th class="text-right">금액</th>
                            <th class="text-right">부가세</th>
                            <th>비고</th>
                            <th>...</th>
                        </tr>
                        </thead>
                        <tbody id="items-form" data-template="items">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="view-row" data-mapper="text">

            <div data-element="target">
                <div class="view-header">
                    <span class="view-header-subject">견적메모</span>
                    <div class="view-btns">
                        <span class="view-btn" data-event="modify">수정</span>
                    </div>
                </div>

                <div class="view-container">
                    <div class="view-content">
                        <pre class="work-text" data-directive="text"></pre>
                    </div>
                </div>
            </div>

        </div>


        <div class="view-row" data-mapping="memo" data-mapper="memo">

            <div class="view-header">
                <span class="view-header-subject">작업메모</span>
            </div>

            <div class="view-container">
                <div class="view-content work-memo">
                    <div class="work-memo-list" data-template="memo">
                    </div>
                    <div class="work-memo-textarea" data-element="target" data-pre-processor="memoForm">
                        <textarea class="work-textarea-wide"></textarea>
                        <span data-event="addMemo" class="textarea-btn">등록</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="view-row" data-mapper="refs">

            <div class="view-header">
                <span class="view-header-subject">작업파일</span>
                <span class="view-btns">
                    <span class="view-btn" data-event="upload" data-value="type:ref">추가</span>
                </span>
            </div>

            <div class="view-container" data-mapping="refs">
                <div class="view-content work-refs" data-template="refs" data-pre-processor="imageScreen">
                </div>
            </div>
        </div>

    </div>

</main>


<div id="screen" data-mapper="screen">
    <div class="screen-nav">
        <div class="screen-nav-left">
            <div class="screen-upload-btn" data-event="screenFile" data-value="type:draft">시안 업로드</div>
            <div class="screen-upload-btn" data-event="screenFile" data-value="type:print">인쇄파일 업로드</div>
        </div>

        <div class="screen-nav-center text-center">
            <a target="_blank" class="screen-filename" data-directive=" | name"></a>
            <span class="screen-remove" data-event="removeDraft">삭제</span>
        </div>

        <div class="screen-nav-right">
            <div class="screen-nav-count">
                <strong data-directive="current"></strong>
                <span> / </span>
                <strong data-directive="total"></strong>
            </div>
            <div class="screen-nav-close cursor-pointer">닫기</div>
        </div>
    </div>
    <div class="screen-body" data-pre-processor="pasteImage">
        <div class="screen-image" data-directive=" | render"></div>
    </div>
</div>


<div id="file-upload">

    <div class="upload-header">
        <span class="upload-current" data-prop="current"></span>
        <i>/</i>
        <span class="upload-total" data-prop="total"></span>
    </div>

    <div class="upload-body">
        <div class="upload-filename" data-prop="filename"></div>
        <div class="upload-progress">
            <div class="upload-progress-container">
                <div class="upload-progress-bar" data-prop="bar"></div>
            </div>
        </div>
    </div>
</div>

<div id="image-screen">
</div>


<#include "component/comfirm-box.html">
<#include "./view/bill.html">

<script src="/dist/work/view.js"></script>
</body>
</html>