
@import "_aside/todo";

aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1041;
  top: $nav-height;
  left: 0;
  bottom: 0;

  width: $aside-width-response;
  background-color: $aside-bg-color;
}

.aside {

  $border-color-darken: #292929;
  $border-color-lighten: #464646;

  &-row {
    border-bottom: 1px solid $border-color-darken;
    border-top: 1px solid $border-color-lighten;
  }

  &-division {
    padding: 1rem .5rem .3rem;
    font-size: 12px;
  }

  &-today {

    padding: 1rem 0;

    &-week, &-ym, &-date, &-time {
      display: block;
    }

    &-date {
      line-height: 1.15;
      > strong {
        font-size: 3rem;
      }
      > i {
        margin-left: -.2rem;
        font-size: 16px;
        font-style: normal;
        color: #656565;
      }
    }

    &-ym {
      font-size: 14px;
    }

    &-time {
      margin-top: .5rem;
      line-height: 1.5;
      font-size: 0;

      &-hour {
        font-size: 22px;
        color: #bbb;
      }
      &-second {
        margin-left: .1rem;
        font-size: 18px;
        color: #777;
      }
    }
  }

  &-column {
    display: flex;

    &-btn {
      padding: 1rem 0;
      width: 50%;
      border: {
        left: 1px solid $border-color-lighten;
        right: 1px solid $border-color-darken;
        top: 1px solid $border-color-darken;
        bottom: 1px solid $border-color-lighten;
      }
      font-size: 14px;
      text-align: center;

    }
  }

  // 사이드바 특별프로그램
  &-pop {

    > span {
      font-size: 14px;
    }
    > .pop-up {
      display: none;
      overflow-y: auto;
      position: fixed;
      top: $nav-height;
      left: $aside-width-response;
      bottom: 0;
      width: 350px;
      background-color: #424242;
      border-right: 1px solid $border-color-darken;
      border-left: 1px solid $border-color-darken;
    }
    &.open {
      > span {
        color: yellow;
      }
      .pop-up {
        display: block;
      }
    }

  }

  &-menu {

    > li {

      > a {
        display: block;
        padding: .5rem 0 .5rem 1.5rem;
        color: #9c9c9c;
      }

      &:hover, &.active {
        > a {
          background-color: #313131;
        }
      }

      &.active {
        > a {
          color: #dea436;
        }
      }
    }
  }
}

@media (min-width: 1441px) {

  .aside {
    &-pop {
      > .pop-up {
        left: $aside-width;
      }
    }
  }
}