<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Lotto</title>
    <link rel="stylesheet" href="/dist/lotto/main.css">

    <script src="/lib/js/es6-promise.js"></script>

    <script type="text/html" id="selector-template">
        <table>
            <tbody>
            <tr ::>
                <td class="no-drag" data-num="{{_}}" ::>{{_}}</td>
            </tr>
            </tbody>
        </table>
    </script>

    <script type="text/html" id="nums-template">
        <table>
            <tbody>
            <tr>
                <td data-num="{{num}}" ::>
                    <div style="height: {{pecent}}%"><span>{{length}}</span></div>
                </td>
            </tr>
            <tr>
                <td ::>{{num}}</td>
            </tr>
            </tbody>
        </table>
    </script>

    <script type="text/html" id="item-template">
        <div class="col-2 item" data-id="{{id}}">
            <div>
                <div class="item-info">
                    <div>
                        <div class="datetime s-hide w-hide">{{date}}</div>
                        <div class="id font-weight-bold text-lg-left">{{id}}</div>
                    </div>
                    <div class="ml-auto s-hide w-hide">
                        <div class="text-right">{{million}}억원</div>
                        <div class="text-right">{{count}}명</div>
                    </div>

                </div>
                <table class="item-table s-hide">
                    <tbody>
                    <tr ::rTable>
                        <td class="chk-{{check}}" ::>{{num}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
</head>
<body>

<nav>
    <div class="radio-btns">
        <span data-for="type">table</span>
        <span data-for="w-type">w-type</span>
        <span data-for="simple">simple</span>
    </div>
</nav>

<aside>
    <div class="radio-btns">
        <span data-for="number">number</span>
        <span data-for="select">select</span>
        <span class="reset">reset</span>
    </div>
    <div class="selector"></div>
</aside>


<main>


    <div class="nums-graph"></div>

    <div class="container-fluid">
        <div class="row" id="display"></div>
    </div>

</main>

<script src="/dist/lotto/main.js"></script>
</body>
</html>