<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Work</title>

    <script src="/lib/js/es6-promise.js"></script>

    <script type="text/html" id="test">
        {{_.masdf.asdf.asdf.asd.fasdf.asdf}}}
    </script>
<body>

<div class="audio">
    <div class="amp">
        <span class="mugic">이게 정답</span>
    </div>
    <div class="speaker">
        <span class="mugic">오답</span>
    </div>
</div>
<ul>
    <li data-mapping="childs">
        <span data-val="name"></span>
        <ul data-each="tree"></ul>
    </li>
</ul>




<main>
</main>
<script src="../static/dist/work/test.js"></script>
</body>
</html>