<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Work</title>

    <link rel="stylesheet" href="../static/dist/test.css">
    <script src="../static/lib/js/es6-promise.js"></script>

    <script id="test" type="text/html">
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th data-order-value="{{$.index}}" style="width: {{size}};" ::headers>
                    {{title}}
                    <span class="data-order-desc">↑</span>
                    <span class="data-order-asc">↓</span>
                </th>
                <th>...</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </script>
<body>
<main>

    <div class="uu magic">
        <span>1</span>
        <div class="uu focus-panel">
            <span>2</span>
            <div class="uu focus-panel">
                <span>3</span>
                <span data-dismiss>끄기</span>
                <div class="uu focus-panel"></div>
            </div>
        </div>
    </div>

    <div class="uu magic">
        <span>1</span>
        <div class="uu focus-panel">
            <span>2</span>
            <div class="uu focus-panel">
                <span>3</span>
                <div class="uu focus-panel"></div>
            </div>
        </div>
    </div>
</main>
<script src="../static/dist/work/test.js"></script>
</body>
</html>
