<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Work Resources</title>
    <link rel="stylesheet" href="/dist/work-resources.css">

    <script src="/lib/js/es6-promise.js"></script>

    <script type="text/html" id="template">
        <div class="col-2 wr" data-id="{{id}}" data-index="{{idx}}">
            <div class="wr-item">
                <div class="wr-header">
                    <span class="wr-type">{{filetype}}</span>
                    <span class="wr-content">{{content}}</span>
                </div>
                <div class="wr-body">
                    <img class="wr-thumb" src="/wr/{{path}}/{{filename}}.{{thumbtype}}">
                </div>
                <div class="wr-footer">{{datetime | datetime : "yyyy-MM-dd"}}</div>
            </div>
        </div>
    </script>
</head>
<body>

<nav>
    <div class="radio-btns">
        <span data-for="type">table</span>
        <span data-for="w-type">w-type</span>
        <span data-for="simple">simple</span>
    </div>
</nav>

<main>
    <div class="container-fluid">
        <div class="row" id="container"></div>
    </div>
</main>

<script src="/dist/work-resources.js"></script>
</body>
</html>