<aside>

    <div class="aside-today text-center">
        <span class="aside-today-week" data-val="week"></span>
        <div class="aside-today-date">
            <strong data-val="date"></strong>
            <i data-val="lastdate"></i>
        </div>
        <span class="aside-today-ym" data-val="ym"></span>
        <div class="aside-today-time">
            <span class="aside-today-time-hour"></span>
            <span class="aside-today-time-second"></span>
        </div>
    </div>

    <ul class="aside-menu">
        <li data-url="/work/intro"><a href="">메인</a></li>
        <li data-url="/work/list"><a href="/work/list">리스트</a></li>
        <li data-url="/work/todo"><a href="">할일</a></li>
        <li data-url="/work/money"><a href="">미수금</a></li>
    </ul>

</aside>
<script src="/dist/work/modules/aside.js"></script>