<aside>

    <div class="aside-today text-center aside-row">
        <span class="aside-today-week" data-val="week"></span>
        <div class="aside-today-date">
            <strong data-val="date"></strong>
            <i data-val="lastdate"></i>
        </div>
        <span class="aside-today-ym" data-val="ym"></span>
        <div class="aside-today-time">
            <span class="aside-today-time-hour"></span>
            <span class="aside-today-time-second"></span>
        </div>
    </div>

    <ul class="aside-menu">
        <li class="aside-row" data-url="/work/list"><a href="/work/list">작업리스트</a></li>
        <li class="aside-row" data-url="/work/receivable"><a href="/work/receivable">미수금</a></li>
    </ul>

    <!--<div class="aside-pop aside-row dropdown" data-dropdown-event="aside.pop" data-pop="todo">
        <span data-toggle="dropdown">간편메모</span>
        <div class="pop-up"><#include "./aside/todo.html"></div>
    </div>

    <div class="aside-pop aside-row dropdown" data-dropdown-event="aside.pop" data-pop="m3">
        <span data-toggle="dropdown">헤배계산</span>
        <div class="pop-up"></div>
    </div>-->

</aside>
<script src="/dist/work/modules/aside.js"></script>