// 각 포지션 구획
.account {

  padding: 0 10mm 10mm;
  width: 210mm;
  min-height: 150mm;
  border: 1px solid $border-color;

  .item-list {
    tfoot {
      display: none;
    }
  }

  .total-table {

    td {

      $width: 18;

      width: $width * 1%;
      white-space: nowrap;
      text-align: center;

      &.label {
        width: ( (100 - ($width * 4 )) / 4  ) * 1%;
        font-weight: bold;
      }
    }
  }
}
