@import "../_fonts/roboto";
@import "../_fonts/NanumGothic";
@import "../bagic-bootstrap";
@import "variable";

@import "./_modules/nav";
@import "./_modules/aside";
@import "./base/file-icon";

$default-color: #999;

body, input, textarea, pre {
  font-family: "Roboto", "Nanum Gothic";
}

a {
  &:hover, &:visited {
    text-decoration: none;
  }
}

body {
  overflow-y: scroll;
  padding: {
    top: $nav-height;
    left: $aside-width;
    bottom: 5rem;
  }
  background-color: #f9f9f9;
  color: $default-color;

  &[data-block="true"], &[data-block="close"] {
    &:after {
      content: '';
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      z-index: 3000;
      opacity: .9;

      transition: opacity .7s ease;
      transition: {
        delay: 1s;
        timing-function: ease;
        property: z-index;
      }
    }
  }

  &[data-block="close"]:after {
    opacity: 0;
    z-index: -1;
  }
}

.page-name {
  margin: {
    left: -1rem;
    right: 1rem;
  }
  width: $aside-width;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

input, textarea {
  color: $default-color;
  &:focus {
    outline: 0;
  }
}

[data-toggle], [data-event] {
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
