@import "../_fonts/roboto";
@import "../_fonts/NanumGothic";
@import "../bagic-bootstrap";
@import "variable";

@import "./_modules/nav";
@import "./_modules/aside";
@import "./base/file-icon";
@import "utilities";

body, input, textarea, pre {
  font-family: "Roboto", "Nanum Gothic";
}



body {
  overflow-y: scroll;
  padding: {
    top: $nav-height;
    left: $aside-width-response;
    bottom: 5rem;
  }
  background-color: #f9f9f9;
  color: $font-color-normal;


  &:after {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: white;
    opacity: .6;
    z-index: 1051;
  }

  &.loading:after {
    //display: block;
  }

  // 전체창 띄울때 body부분 스크롤 방지
  &.scroll-lock {
    overflow: hidden;
  }
}

.page-name {
  margin: {
    left: -1rem;
    right: 1rem;
  }
  width: $aside-width-response;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}


%fixed-screen {

  display: none;

  &.on {
    display: block;
  }

  &, &:after {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:after {
    display: block;
    z-index: -1;
    content: '';
    background-color: black;
    opacity: .88;
  }
}

@media (min-width: 1441px) {
  body {
    padding-left: $aside-width;
  }
  aside {
    width: $aside-width;
  }
  .page-name {
    width: $aside-width;
  }
}