a {
  &:hover, &:visited {
    text-decoration: none;
  }
}


input, textarea {
  color: $font-color-normal;
  &:focus {
    outline: 0;
  }
  resize: none !important;
}

[data-toggle], [data-event], [data-modifier] {
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hide {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.white-nowrap {
  white-space: nowrap !important;;
}

.white-normal {
  white-space: normal !important;;
}

.modifier-form {
  & + * {
    display: none !important;
  }
}