@import "base";
@import "../../lib/style/component/calendar";
@import "../../lib/style/component/pager";
@import "../../lib/style/component/dropdown-box";
@import "_support/confirm-box";

$border-color-lighten-xl: lighten($border-color-lighten, 6%);

main {
  padding: 2rem;
}

.container {

  &-tabs {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      padding: 1rem 2rem;
      border: 1px solid $border-color-lighten;
      cursor: pointer;
      background-color: #f1f1f1;
      color: #bbbbbb;

      & + li {
        border-left: 0;
      }

      &.active {
        background-color: white;
        color: #888888;
        font-weight: bold;
        border-bottom: 0;
      }
    }
  }

  &-table {
    position: relative;
    margin-top: -1px;
    padding: 2rem;
    background-color: white;
    border: 1px solid $border-color-lighten;
  }
}

.data-ctrl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;

  $radius: .4rem;

  &-search {
    display: flex;
    margin: 0 1rem;

    &-before, &-after {
      padding: 0 .6rem;
    }
    &-before, > input, &-after {
      display: flex;
      align-items: center;
      border: 1px solid #cacaca;
      height: 2.4rem;
    }

    &-before {
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;

      > span:after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
      }
    }

    > input {
      padding: 0 1rem;
      border-left: 0;
    }

    &-after {
      border-left: 0;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }
}

.data-ctrl-pager {
  display: flex;
  align-items: center;
  margin-right: 1rem;

  > .dropdown {
    margin: 0 .6rem;
  }
}

#data-table {

  > table {

    width: 100%;
    border: 1px solid $border-color-lighten;

    > tbody, > thead {
      > tr {
        > th, > td {

          padding: .5rem;

          & + td, & + th {
            border-left: 1px solid $border-color-lighten-xl;
          }

          &:last-child, &:first-child {
            text-align: center;
            font-size: 14px;
            white-space: nowrap;
          }
        }

        & + tr {
          > td, > th {
            border-top: 1px solid $border-color-lighten-xl;
          }
        }
      }
    }

    > thead {
      > tr {
        > th {

          text-align: center;
          background-color: lighten($border-color-lighten-xl, 4%);

          > .data-order-desc, > .data-order-asc {
            display: none;
          }

          &[data-order="desc"], &[data-order="asc"] {
            font-weight: bold;
          }
          &[data-order="desc"] {
            > .data-order-desc {
              display: inline-block;
            }
          }

          &[data-order="asc"] {
            > .data-order-asc {
              display: inline-block;
            }
          }
        }
      }
    }

    > tbody {
      > tr {
        > td {
          height: 3rem;
          color: #777;
        }

        &.confirm-active {
          opacity: .5;
          > td {
            > [data-form="remove"] {
              color: darkred;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

tr.data-form {

  > td {
    position: relative;
    background-color: #f9f9f9;

    > input {
      width: 100%;
      border: 0;
      border-bottom: 1px dashed #949494;
      text-indent: .5rem;
      color: #999;
      background-color: transparent;
      transition: color .3s ease;
      &:focus {
        border-color: #aaa;
        color: #888;
      }
      &[readonly] {
        border: 0;
      }
      &.form-error {
        border-color: red;
      }
    }
  }

  & + tr + tr > td, > td {
    border-top: 1px solid #ccc !important;
  }

  &.form-error {
    [data-form="confirm"] {
      display: none;
    }
  }

}

.modify-form {
  & + tr {
    display: none;
  }
}

[data-form] {
  cursor: pointer;
}


