@import "base";
@import "../component/pager";
@import "../component/dropdown-box";

main {
  padding: 2rem;
}

[data-load] {
  cursor: pointer;
}

// 페이지 네비게이션
.component-pager {

  display: flex;
  align-items: center;
  margin-right: 1rem;

  &-prev, &-next {
    font-size: 2rem;
    font-family: serif;
    font-weight: bold;
    color: #ddd;

    &.disabled {
      color: #5a5a5a;
      cursor: default;
    }

    &.active {
      cursor: pointer;
      color: $font-color-lighten;
    }
  }

  &-current, &-total {
    font-size: 1.2rem;
  }

  &-page {
    > span {
      font-size: 24px;
      margin: 0 .4rem;
      font-weight: bold;
    }
  }
}

.ctrl {

  display: flex;
  align-items: center;

  // 정렬버튼
  &-btns {
    display: flex;
    align-items: center;
    font-size: 14px;

    & + & {
      margin-left: 1.5rem;
    }

    &-name {
      margin-right: .5rem;
      padding: .1rem .3rem;

      font-size: 12px;
      border: 1px solid #dadada;
      border-radius: 3px;
      background-color: white;
    }

    &-list {
      display: flex;

      > li {
        color: #bbb;
        & + li {
          margin-left: .5rem;
        }
        &.active {
          color: #e4c108;
          font-weight: 600;
        }
      }
    }
  }

  // 검색
  &-search {
    margin-left: auto;

    &, &-option {
      display: flex;
    }

    &-option > span, &-input {
      border: 0;
      background-color: white;
    }

    &-option {

      // 토글버튼
      > span {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-right: 1px solid #ccc;
        border-radius: 1.5rem 0 0 1.5rem;
      }

      > .dropdown-menu {
        padding: .8rem;
      }
    }

    &-input {
      padding: 0 1rem;
      height: 2.2rem;
      width: 19rem;
      border-radius: 0 1.1rem 1.1rem 0;
    }
  }

  // 작업 추가 버튼
  &-create {
    margin-left: 1rem;
    padding: 0 1rem;
    height: 2.2rem;

    line-height: 2.2rem;
    background-color: #11a8b5;
    border-radius: 1.1rem;
    cursor: pointer;
    color: white;
  }
}

.state {

  &-list {
    display: flex;

    &-item {

      flex: 0 1 (( 100 / 7 ) * 1%);
      padding: .5rem .5rem;
      border: 1px solid $border-color-darken;
      background-color: white;
      transition: color .3s ease;

      & + & {
        border-left: 0;
      }

      &-name, &-count, &-price {
        display: block;
      }

      &-name {
        font-size: 12px;
      }

      &-count, &-price {
        text-align: right;
      }
      &-count {
        // 당일
        > i {
          position: relative;
          top: 2px;
          margin-right: 5px;
          font-size: 20px;
          vertical-align: top;
          font-style: normal;
          color: #adadad;
        }
        > strong {
          font-size: 3rem;
          font-weight: bold;
          line-height: 1;
        }
      }

      &:hover {
        color: #737373;
      }

      &.active {
        color: #4c82a9;
        background-color: #f0f7fb;
      }

    }
  }
}

.work {

  &-list {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid $border-color-darken;
    background-color: white;

    &-thumb {
      display: block;
      height: 10rem;
      background: {
        color: #f9f9f9;
        repeat: no-repeat;
        size: contain;
        position: center;
      }
    }

    &-state {
      margin-top: 1rem;

      &-name {
        float: right;
        font-size: 14px;

        &:after {
          display: inline-block;
          position: relative;
          top: -2px;
          left: 2px;
          content: '';
          @include border-arrow-down(4px, #888);
        }
      }

      > .dropdown-menu {
        min-width: auto;
        font-size: 14px;
        white-space: nowrap;
        > ul {
          > li {
            padding: .2rem 1rem;
            cursor: pointer;
            &:hover {
              background-color: #eee;
            }
            &.active {
              background-color: #4e80a9;
              color: white;
              cursor: default;
            }
          }
        }
      }
    }

    &-datetime {
      display: inline-block;
    }

    &-title, &-customer {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        color: #2371a9;
      }

    }

    &-title {
      font-size: 16px;
      font-weight: bold;
      color: #777;
      letter-spacing: -1px;
    }

    &-customer {
      margin-top: .6rem;
      font-weight: bold;
      color: #4c82a9;
      font-size: 20px;
      letter-spacing: -.8px;
    }

    &-item {
      display: flex;
      align-items: center;
      margin-top: .5rem;

      &-len {
        margin: 0 .6rem 0 auto;
        width: 3rem;
        height: 2.5rem;

        border: 1px solid $border-color-normal;
        font-size: 20px;
        text-align: center;
        line-height: 2.5rem;
      }

      &-total {
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
      }
    }

  }
}

// 작업추가
#work-creator {

  display: none;
  position: fixed;
  z-index: 1081;

  justify-content: center;
  align-items: flex-start;

  &, &:after {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &:after {
    display: block;
    position: absolute;
    z-index: -1;
    content: '';
    background-color: black;
    opacity: .88;
  }

  &.on {
    display: flex;
  }
}

.work-creator {

  margin-top: 50px;
  padding: 2rem;
  background-color: white;
  border-radius: .5rem;

  width: 38rem;

  %input {
    padding: 0 1rem;
    width: 100%;

    font-size: 18px;
    height: 3rem;
    border: 1px solid #ccc;
  }

  &-badge {
    margin-bottom: .2rem;
    font-size: 14px;
    text-indent: .7rem;
  }

  &-search {
    display: flex;
    justify-content: stretch;
    margin-bottom: 2rem;

    // 거래처 새로 만들기 버튼
    &-create {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      padding: 0 1rem;
      white-space: nowrap;
      border: 1px solid #ccc;
      border-left: 0;
      color: #ccc;
      background-color: #f7f7f7;

      &.active {
        color: #545454;
        cursor: pointer;
      }
    }

    &-input {
      flex-shrink: 1;
      position: relative;
      width: 100%;
      //
      > input {
        @extend %input;
      }

      // 검색결과 박스
      > div {
        padding: 1rem;
        overflow-y: scroll;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 22rem;

        background-color: white;
        border: 1px solid #ccc;
        border-top: 0;

        &:empty {
          display: none;
        }

        > div {
          padding: .2rem;
          white-space: nowrap;
          cursor: pointer;
          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  }

  &-title {
    &-input {
      @extend %input;
      border-radius: 1.5rem;
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    &-confirm, &-cancel {
      padding: 0 2rem;
      height: 2.6rem;
      border: 1px solid;
      line-height: 2.6rem;
      border-radius: 1.3rem;

      & + & {
        margin-left: .5rem;
      }
    }

    &-cancel {
      cursor: pointer;
    }

    &-confirm {
      color: #ddd;

      .confirm-customer.confirm-title & {
        color: $font-color-normal;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1441px) {
  .state {

    &-list {

      &-item {
        padding: .5rem 1.5rem;
      }
    }
  }
}